In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
titannic = pd.read_csv("train.csv")
titannic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
x_train = np.zeros([len(titannic), 8])
y_train = titannic["Survived"]

x_train.shape, y_train.shape

((891, 8), (891,))

In [20]:
a= pd.cut(titannic["SibSp"], bins=3, labels=["0", "1", "2"])
a.values

['0', '0', '0', '0', '0', ..., '0', '0', '0', '0', '0']
Length: 891
Categories (3, object): ['0' < '1' < '2']

In [22]:
#数据预处理
# age
x_train[:, 0] = titannic["Age"].fillna(titannic["Age"].median()).astype(float)
# sex
x_train[:, 1] = titannic["Sex"].map({"male" : 0, "female" : 1}).astype(float)
#pclass
x_train[:, 2] = titannic["Pclass"].map({3: 0, 2: 1, 1: 2}).astype(float)
# Fare 
x_train[:, 3] = (titannic["Fare"] - titannic["Fare"].mean()) / titannic["Fare"].std()
# Embarked
x_train[:, 4] = titannic["Fare"].fillna("S").map({"S": 0, "Q": 1, "C": 2}).astype(float)
# SibSp
x_train[:, 5] = pd.cut(titannic["SibSp"], bins=3, labels=["0", "1", "2"])
# Cabin
x_train[:, 6] = titannic['Cabin'].apply(lambda x: 0 if pd.isna(x) else 1)
# Parch
x_train[:, 7] = titannic['Parch'].apply(lambda x: 1 if x > 0 else 0)